body{
  background-color: #C2C3BE;
}

h1{
  font-family: 'Alfa Slab One', cursive;
  color: #404142;
  font-size: 48px;
  margin: 1%;
}

h1 span{
  color: #A3A49F;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.line{
  color: #B53B38;
}


.color-generator{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.color{
  height: 50vh;
  width: 18vw;
  background-color: #DFDFDF;
  box-shadow: 5px 5px 5px #A3A49F;
}

button{
  background-color: #404142;
  color: #A3A49F;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 2%;
  padding: 1% 8%;
  font-size: 24px;
  text-transform: uppercase;
}

button:hover{
  background-color: #626364;
}

button:active{
  background-color: #B53B38;
}

.btn-div{
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}

input{
  background-color: #DFDFDF;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

select{
  background-color: #DFDFDF;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.projects-hiden{
  background-image: url('./Cardboard1.jpg');
  background-size: cover;
  width: 3vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon{
  background-image: url('./arrow.svg');
  background-size: cover;
  width: 2vw;
  height: 4vh;
}