body{
  background-image: url('./Cardboard1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-family: 'Alfa Slab One', cursive;
  color: #2A2B2A;
  font-size: 48px;
  margin: 1%;
}

h1 span{
  color: #E8F7EE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.line{
  color: #972D07;
}

.color-generator{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}



.card{
  height: 50vh;
  width: 18vw;
  background-image: url('./paper.jpg');
  box-shadow: 5px 5px 5px #865B2F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@-webkit-keyframes swinging{
  25%{transform: rotate(-5deg)}
  75%{transform: rotate(5deg)}
}
@keyframes swinging{
  25%{transform: rotate(-5deg)}
  75%{transform: rotate(5deg)}
}

.card:hover { 
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

button{
  background-color: #2A2B2A;
  color: #A3A49F;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding: 1% 0;
  text-transform: uppercase;
  border: none;
  width: 350px;
}

.generate-btn{
  margin: 3%;
}

button:hover{
  background-color: #626364;
}

button:active{
  background-color: #972D07;
}

.btn-div{
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-around;
}

input{
  background-color: #E8F7EE;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  width: 350px;
}

select{
  background-color: #DFDFDF;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.projects-hiden{
  background-color: #972D07;
  background-size: cover;
  width: 3vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-hiden .all-projects {
  display: none;
}

.projects-shown {
  background-color: #972D07;
  background-size: cover;
  width: 40vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects-shown .menu-icon {
  background-image: url('./arrow-point-to-right.svg');
  background-size: cover;
  width: 2vw;
  height: 4vh;
  align-self: center; 
}

.menu-icon{
  background-image: url('./arrow.svg');
  background-size: cover;
  width: 2vw;
  height: 4vh;
  align-self: center; 
}

.color{
  width: 10vw;
  height: 20vh;
}

.color-name{
  border-top: #972D07 2px solid;
  font-family: 'Open Sans', sans-serif;
  color: #A3A49F;
  font-weight: 300;
  font-size: 24px;
  padding: 2% 3%;
}

h3{
  font-family: 'Alfa Slab One', cursive;
  color: #E8F7EE;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 300;
}

.all-projects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  overflow-y: auto;
  margin: 0 8%;
}

.palette-card{
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.project{
  background-color: #F9F5EF;
  width: 30vw;
  margin: 3% 0;
}

.palette-color{
  background-color: #8921F8;
  width: 5vw;
  height: 10vh;
}

h4{
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 1%;
  color: #404142;
  font-weight: 300;
  text-align: center;
}

.padlock{
  width: 5vw;
  height: 5vh;
  background-image: url('./padlock-unlock.svg');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.locked{
  background-image: url('./padlock.svg')
}

.tack{
  height: 35px;
  width: 35px;
  background-image: url('./sphere6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  margin-bottom: 8%
}

.delete-btn{
  background-image: url('./cancel-mark.svg');
  background-size: cover;
  width: 10px;
  height: 10px;
  float: right;
  margin: 3%
}

h5{
  font-family: 'Open Sans', sans-serif;
  color: #E8F7EE;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
}